.select-div{
    background-color: white;
    color: black;
}

h3{
    color: black;
    font-family: "Times New Roman", Times, serif;
}

.navbar{
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    color: black;
}
